@import "tailwindcss";

@theme {
  --font-cairo: "Cairo", sans-serif;
}

@layer base {
  body {
    font-family: var(--font-cairo);
    @apply antialiased;
  }

  .container {
    @apply mx-auto px-8 sm:px-10 lg:px-20;
    max-width: 1240px;
  }

  @media (min-width: 640px) {
    .container {
      max-width: 600px;
    }
  }

  @media (min-width: 768px) {
    .container {
      max-width: 728px;
    }
  }

  @media (min-width: 1024px) {
    .container {
      max-width: 984px;
    }
  }
}
